#define _foreground       #ffffff
#define _background       #38241e
#define _cursorColor      #ffffff

!black
#define _color0       #38241e
#define _color8       #ab5611

! red
#define _color1       #3f383e
#define _color9       #f0a017

! green
#define _color2       #1c1f23
#define _color10      #a9754f

! yellow
#define _color3       #0c2c3f
#define _color11      #807d82

! blue
#define _color4       #0a4f6e
#define _color12      #d5ae83

! magenta
#define _color5       #485c6e
#define _color13      #188eb3

! cyan
#define _color6       #6e3716
#define _color14      #8caebc

! white
#define _color7       #71554a
#define _color15      #d9eae6


! special
*.foreground:   _foreground
*.background:   _background
*.cursorColor:  _cursorColor

! black
*.color0:       _color0
*.color8:       _color8

! red
*.color1:       _color1
*.color9:       _color9

! green
*.color2:       _color2
*.color10:      _color10

! yellow
*.color3:       _color3
*.color11:      _color11

! blue
*.color4:       _color4
*.color12:      _color12

! magenta
*.color5:       _color5
*.color13:      _color13

! cyan
*.color6:       _color6
*.color14:      _color14

! white
*.color7:       _color7
*.color15:      _color15

!URxvt Settings
URxvt.scrollBar: false
URxvt.url-launcher: chromium

URxvt.borderColor:   _color4
URxvt.externalBorder:   0

URxvt.font: xft:Liberation Mono:pixelsize=13
