#define _foreground       #ffffff
#define _background       #0a1d20
#define _cursorColor      #ffffff

!black
#define _color0       #0a1d20
#define _color8       #8a755d

! red
#define _color1       #15282b
#define _color9       #938069

! green
#define _color2       #2a383a
#define _color10      #787d7d

! yellow
#define _color3       #384445
#define _color11      #949998

! blue
#define _color4       #475151
#define _color12      #a8b0b2

! magenta
#define _color5       #5b6262
#define _color13      #b1b9bc

! cyan
#define _color6       #755f48
#define _color14      #b1b9bc

! white
#define _color7       #806b53
#define _color15      #b1b9bc


! special
*.foreground:   _foreground
*.background:   _background
*.cursorColor:  _cursorColor

! black
*.color0:       _color0
*.color8:       _color8

! red
*.color1:       _color1
*.color9:       _color9

! green
*.color2:       _color2
*.color10:      _color10

! yellow
*.color3:       _color3
*.color11:      _color11

! blue
*.color4:       _color4
*.color12:      _color12

! magenta
*.color5:       _color5
*.color13:      _color13

! cyan
*.color6:       _color6
*.color14:      _color14

! white
*.color7:       _color7
*.color15:      _color15

!URxvt Settings
URxvt.scrollBar: false
URxvt.url-launcher: chromium

URxvt.borderColor:   _color4
URxvt.externalBorder:   0

URxvt.font: xft:Liberation Mono:pixelsize=13
